* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*change on media queries */
.row {
  width: 100vw;
  margin: 0 5vw;
}
.row .col-1 {
  float: left;
  margin-right: 1.914893617vw;
  width: 7.6595744681vw;
}
.row .col-2 {
  float: left;
  margin-right: 1.914893617vw;
  width: 15.3191489362vw;
}
.row .col-3 {
  float: left;
  margin-right: 1.914893617vw;
  width: 22.9787234043vw;
}
.row .col-4 {
  float: left;
  margin-right: 1.914893617vw;
  width: 30.6382978723vw;
}
.row .col-5 {
  float: left;
  margin-right: 1.914893617vw;
  width: 38.2978723404vw;
}
.row .col-6 {
  float: left;
  margin-right: 1.914893617vw;
  width: 45.9574468085vw;
}
.row .col-7 {
  float: left;
  margin-right: 1.914893617vw;
  width: 53.6170212766vw;
}
.row .col-8 {
  float: left;
  margin-right: 1.914893617vw;
  width: 61.2765957447vw;
}
.row .col-9 {
  float: left;
  margin-right: 1.914893617vw;
  width: 68.9361702128vw;
}
.row .col-10 {
  float: left;
  margin-right: 1.914893617vw;
  width: 76.5957446809vw;
}
.row .col-11 {
  float: left;
  margin-right: 1.914893617vw;
  width: 84.2553191489vw;
}
.row .col-12 {
  float: left;
  margin-right: 1.914893617vw;
  width: 91.914893617vw;
}

@media (min-width: 481px) and (max-width: 768px) {
  .row .col-sm-1 {
    float: left;
    margin-right: 1.914893617vw;
    width: 7.6595744681vw;
  }
  .row .col-sm-2 {
    float: left;
    margin-right: 1.914893617vw;
    width: 15.3191489362vw;
  }
  .row .col-sm-3 {
    float: left;
    margin-right: 1.914893617vw;
    width: 22.9787234043vw;
  }
  .row .col-sm-4 {
    float: left;
    margin-right: 1.914893617vw;
    width: 30.6382978723vw;
  }
  .row .col-sm-5 {
    float: left;
    margin-right: 1.914893617vw;
    width: 38.2978723404vw;
  }
  .row .col-sm-6 {
    float: left;
    margin-right: 1.914893617vw;
    width: 45.9574468085vw;
  }
  .row .col-sm-7 {
    float: left;
    margin-right: 1.914893617vw;
    width: 53.6170212766vw;
  }
  .row .col-sm-8 {
    float: left;
    margin-right: 1.914893617vw;
    width: 61.2765957447vw;
  }
  .row .col-sm-9 {
    float: left;
    margin-right: 1.914893617vw;
    width: 68.9361702128vw;
  }
  .row .col-sm-10 {
    float: left;
    margin-right: 1.914893617vw;
    width: 76.5957446809vw;
  }
  .row .col-sm-11 {
    float: left;
    margin-right: 1.914893617vw;
    width: 84.2553191489vw;
  }
  .row .col-sm-12 {
    float: left;
    margin-right: 1.914893617vw;
    width: 91.914893617vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .row .col-md-1 {
    float: left;
    margin-right: 1.914893617vw;
    width: 7.6595744681vw;
  }
  .row .col-md-2 {
    float: left;
    margin-right: 1.914893617vw;
    width: 15.3191489362vw;
  }
  .row .col-md-3 {
    float: left;
    margin-right: 1.914893617vw;
    width: 22.9787234043vw;
  }
  .row .col-md-4 {
    float: left;
    margin-right: 1.914893617vw;
    width: 30.6382978723vw;
  }
  .row .col-md-5 {
    float: left;
    margin-right: 1.914893617vw;
    width: 38.2978723404vw;
  }
  .row .col-md-6 {
    float: left;
    margin-right: 1.914893617vw;
    width: 45.9574468085vw;
  }
  .row .col-md-7 {
    float: left;
    margin-right: 1.914893617vw;
    width: 53.6170212766vw;
  }
  .row .col-md-8 {
    float: left;
    margin-right: 1.914893617vw;
    width: 61.2765957447vw;
  }
  .row .col-md-9 {
    float: left;
    margin-right: 1.914893617vw;
    width: 68.9361702128vw;
  }
  .row .col-md-10 {
    float: left;
    margin-right: 1.914893617vw;
    width: 76.5957446809vw;
  }
  .row .col-md-11 {
    float: left;
    margin-right: 1.914893617vw;
    width: 84.2553191489vw;
  }
  .row .col-md-12 {
    float: left;
    margin-right: 1.914893617vw;
    width: 91.914893617vw;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .row .col-lg-1 {
    float: left;
    margin-right: 1.914893617vw;
    width: 7.6595744681vw;
  }
  .row .col-lg-2 {
    float: left;
    margin-right: 1.914893617vw;
    width: 15.3191489362vw;
  }
  .row .col-lg-3 {
    float: left;
    margin-right: 1.914893617vw;
    width: 22.9787234043vw;
  }
  .row .col-lg-4 {
    float: left;
    margin-right: 1.914893617vw;
    width: 30.6382978723vw;
  }
  .row .col-lg-5 {
    float: left;
    margin-right: 1.914893617vw;
    width: 38.2978723404vw;
  }
  .row .col-lg-6 {
    float: left;
    margin-right: 1.914893617vw;
    width: 45.9574468085vw;
  }
  .row .col-lg-7 {
    float: left;
    margin-right: 1.914893617vw;
    width: 53.6170212766vw;
  }
  .row .col-lg-8 {
    float: left;
    margin-right: 1.914893617vw;
    width: 61.2765957447vw;
  }
  .row .col-lg-9 {
    float: left;
    margin-right: 1.914893617vw;
    width: 68.9361702128vw;
  }
  .row .col-lg-10 {
    float: left;
    margin-right: 1.914893617vw;
    width: 76.5957446809vw;
  }
  .row .col-lg-11 {
    float: left;
    margin-right: 1.914893617vw;
    width: 84.2553191489vw;
  }
  .row .col-lg-12 {
    float: left;
    margin-right: 1.914893617vw;
    width: 91.914893617vw;
  }
}
@media (max-width: 1201px) {
  .row .col-xl-1 {
    float: left;
    margin-right: 1.914893617vw;
    width: 7.6595744681vw;
  }
  .row .col-xl-2 {
    float: left;
    margin-right: 1.914893617vw;
    width: 15.3191489362vw;
  }
  .row .col-xl-3 {
    float: left;
    margin-right: 1.914893617vw;
    width: 22.9787234043vw;
  }
  .row .col-xl-4 {
    float: left;
    margin-right: 1.914893617vw;
    width: 30.6382978723vw;
  }
  .row .col-xl-5 {
    float: left;
    margin-right: 1.914893617vw;
    width: 38.2978723404vw;
  }
  .row .col-xl-6 {
    float: left;
    margin-right: 1.914893617vw;
    width: 45.9574468085vw;
  }
  .row .col-xl-7 {
    float: left;
    margin-right: 1.914893617vw;
    width: 53.6170212766vw;
  }
  .row .col-xl-8 {
    float: left;
    margin-right: 1.914893617vw;
    width: 61.2765957447vw;
  }
  .row .col-xl-9 {
    float: left;
    margin-right: 1.914893617vw;
    width: 68.9361702128vw;
  }
  .row .col-xl-10 {
    float: left;
    margin-right: 1.914893617vw;
    width: 76.5957446809vw;
  }
  .row .col-xl-11 {
    float: left;
    margin-right: 1.914893617vw;
    width: 84.2553191489vw;
  }
  .row .col-xl-12 {
    float: left;
    margin-right: 1.914893617vw;
    width: 91.914893617vw;
  }
}

/*# sourceMappingURL=framework.css.map */
