@import 'reset';


//      Grid System      \\
$row-padding: 0vw; /*change on media queries */
$col-width: ((100vw - ($row-padding * 2)) / 47) * 3;
$gutter-width: (100vw - ($row-padding * 2)) / 47;
$col-margin: $gutter-width / 2;


@mixin grid-unit($span) {
    margin: 0 $col-margin;
    width: (($col-width + $col-margin) * $span);
}

.row {
    width: 100vw;
    padding: 0 $row-padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        @include grid-unit($i);
        display: flex;
    }
}

//      Display Types       \\
$displays: block, inline, inline-block, flex, none;

.flex {
    display: flex;
}

@each $display in $displays {
    .d-#{$display} {
        display: $display;
    }
}

//      Media Queries       \\
@media (min-width: 480px) {
    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            @include grid-unit($i)
        }
    }

    @each $display in $displays {
        .d-sm-#{$display} {
            display: $display;
        }
    }
}

@media (min-width: 768px) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            @include grid-unit($i)
        }
    }

    @each $display in $displays {
        .d-md-#{$display} {
            display: $display;
        }
    }
}

@media (min-width: 1024px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            @include grid-unit($i)
        }
    }

    @each $display in $displays {
        .d-lg-#{$display} {
            display: $display;
        }
    }
}

@media (min-width: 1200px) {
    @for $i from 1 through 12 {
        .col-xl-#{$i} {
            @include grid-unit($i)
        }
    }

    @each $display in $displays {
        .d-xl-#{$display} {
            display: $display;
        }
    }
}


//      Flex Settings       \\
.flex-end {
    justify-content: flex-end;
}

.flex-centered {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.space-btwn {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}